<!DOCTYPE html>
<html lang="en" ng-app="spa-basket">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple application with shopping basket functionality</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap Core CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div ng-if="false">

    <div style="z-index:1111;position: absolute; width: 100%;height: 100%;top:0;left: 0;background: #fff;">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

</div>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-9">

            <div class="row">

                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="col-md-12">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="navbar-brand">Please choose category:</span>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li ng-class="{ active: isCategoryActive(category.id)}"><a href="#/">All</a></li>
                                <li ng-repeat="category in categories"
                                    ng-class="{ active: isCategoryActive(category.id)}">
                                    <a href="#categories/{{ category.id }}">{{ category.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form class="form-inline filter-sorting">
                            <div class="form-group">
                                <label>Sort by </label>
                                <select class="form-control" ng-model="sortOrder">
                                    <option value="">none</option>
                                    <option value="price">by price in ascending order</option>
                                    <option value="-price">by price in descending mode</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <!-- /.navbar-collapse -->

                </nav>


            </div>

            <div class="row" ng-view></div>

        </div>

        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">Shopping basket <img src="assets/images/basket.png" class="basket-indicator">
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item" ng-repeat="product_id in basket track by $index"
                           ng-click="removeItem($index)">{{ (products | filter:{id: product_id})[0].title }} $ {{ (products | filter:{id: product_id})[0].price }}</a>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <span class="pull-right">$ {{ getTotal() }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<!-- jQuery -->
<script src="node_modules/jquery/dist/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/js/app.js"></script>
</body>

</html>
